In [16]:
import mysql.connector as msql
import csv

user = 'minh'
# Connect to the PostgreSQL database
conn = msql.connect(
   database='comparator',
   user=user,
   password='07970797',
   host='database.cdjhn3xzznk3.eu-north-1.rds.amazonaws.com',
   port='3306'
)
print('connect succes')

# Create a cursor object
conn.autocommit = True
cursor = conn.cursor()

#drop table product
dropTable   = '''DROP TABLE supermarket;'''
cursor.execute(dropTable)

#create table product
sql = '''CREATE TABLE supermarket(id int auto_increment, supermarket varchar(255), department varchar(255),\
nom_drive varchar(255),nom_driveUrl varchar(255),city varchar(255),adresse varchar(255),\
latitude decimal(13, 7),longitude decimal(13, 7),lien_drive varchar(255), dateScraped varchar(255),PRIMARY KEY (id));'''
cursor.execute(sql)

supermarkets= ['auchan','carrefour','casino']
for supermarket in supermarkets:
    path =f'/Users/minh/Desktop/Comparator/Scrap/Data_base/drivesScraped/list_drives_{supermarket}Scraped.csv'
    
    with open(path, 'r') as f:
        reader = csv.DictReader(f, delimiter = ',')
        for row in reader:
            sql_statement = "INSERT INTO supermarket(supermarket ,department,nom_drive,nom_driveUrl,city ,adresse,latitude,longitude,lien_drive, dateScraped) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.executemany(sql_statement,[(row['supermarket'], row['department'], row['nom_drive'], row['nom_driveUrl'], row['city'], row['adresse'], row['latitude'], row['longitude'], row['lien_drive'], row['date_scraped'])])
    print(f'import success {supermarket}')


conn.commit()
conn.close()

print("CSV data imported successfully into MySQL.")

connect succes
import success auchan
import success carrefour
import success casino
CSV data imported successfully into MySQL.